data/appdata/expidus1-power-manager.appdata.xml
data/interfaces/acme_ui.h
data/interfaces/espm-settings_ui.h
libdbus/com.expidus.unique.h
libdbus/espm-dbus-marshal.c
libdbus/espm-dbus-marshal.h
src/panel-plugins/brightness/expidus1-brightness-plugin
po/Makefile.in.in
po/.intltool-merge-cache
po/POTFILES
po/stamp-*
po/expidus1-power-manager.pot
settings/expidus-power-manager-dbus-client.h
settings/expidus1-power-manager-settings
src/org.freedesktop.PowerManagement.Inhibit.h
src/org.freedesktop.PowerManagement.h
src/com.expidus.power.policy
src/expidus-power-manager-dbus-client.h
src/expidus-power-manager-dbus-server.h
src/expidus1-power-information
src/expidus1-power-manager
src/espm-marshal.c
src/espm-marshal.h
src/espm-power-backlight-helper
src/expidus1-pm-helper
common/espm-enum-types.c
common/espm-enum-types.h
m4/*
cov-int/*
libdbus/com.expidus.unique.c
settings/expidus-power-manager-dbus.c
settings/expidus-power-manager-dbus.h
src/org.freedesktop.PowerManagement.Inhibit.c
src/org.freedesktop.PowerManagement.c
src/expidus-power-manager-dbus.c
src/expidus-power-manager-dbus.h

INSTALL
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.libs
.deps

*~
*.o
*.gmo
*.a
*.la
*.lo
*.Po
*.Plo
*.desktop
